<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Form !</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script>
function addQuestion() {
	var add = document.getElementById("containerquestions");
	var question = document.getElementById("blockquestion");
	add.innerHTML = add.innerHTML + question.innerHTML;
}

//function removeQuestion() {
//    var elem = document.getElementById('blockquestion');
//    elem.parentNode.removeChild(elem);
//    return false;
//}
</script>
</head>
<body>

	
<nav class="navbar navbar-default navabar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
          <span class=" navbar-brand glyphicon glyphicon-pencil"></span>
      </a>
      <a class="navbar-brand" href="#">AVISEP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Switch to English</a></li>
        <li><a href="#">Switch to French</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Name <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li align="center"><a href="#">My Courses <span class="badge">12</span></a></li>
            <li align="center"><a href="#">Available Surveys <span class="badge">4</span></a></li>
            <li role="separator" class="divider"></li>
            <li align="center"><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Create form tab -->		
<div class="container col-md-8 col-lg-8">
	<ul class="nav nav-tabs">
    	<li class="active"><a data-toggle="tab" href="#home">Course 2</a></li>
	</ul>

	<div class="tab-content">
    	<div id="home" class="tab-pane fade in active">
    		<div class="panel panel-default" align="center" style="padding:20px 0 0 0">
				<div class="panel panel-default" style="width:90%">
      				<div class="panel-heading">Create Questions</div>
      				<div class="panel-body" align="left">
        				<button class="btn btn-primary" style="margin:0 0 10px 0" id="addquestion" onclick="addQuestion()"><span class="glyphicon glyphicon-plus" style="padding:0 5px 0 0"></span>Add a question</button>
        				<!-- Block needed to be put in JQuery, will be displayed by pushing "add" button, as much times as we do it -->
       					<div id="blockquestion">
       					
       					<div class="well" style="margin-bottom:10px">
       					 	<div class="form-group row" style="margin-bottom:0">
        						<div class="col-xs-1">
  									<button class="btn btn-danger" id="removequestion" onclick="removeQuestion()"><span class="glyphicon glyphicon-minus"></span></button>
        						</div>
        						<div class="col-xs-6">
  									<input type="text" class="form-control" id="title_question" name="type_question" placeholder="Type your question" />
        						</div>
        						<div class="col-xs-5">
  									<select class="form-control" id="sel1" name="type">
  										<option>Select question type</option>
  										<option>Text</option>
  										<option>Yes / No</option>
  										<option>Long Text</option>
  										<option>Slider</option>
  									</select>
  								</div>
							</div>
     				   </div>
     				   
     				   </div>
     				   <!-- Block needed to be put in JQuery, will be displayed by pushing "add" button, as much times as we do it -->
        				<div id="containerquestions"></div>
      				</div>
      				<div align="right" style="margin:0 15px 10px 0">
        				<button type="button" class="btn btn-primary">Create Form</button>
      				</div>
    			</div>
 		 	</div>
    	</div>
    </div>
</div>

<!-- Stats from last course in the same module -->		
<div class="container col-md-4 col-lg-4">
	<ul class="nav nav-tabs">
    	<li class="active"><a data-toggle="tab" href="#home">Course 1 's Statistics</a></li>
	</ul>

	<div class="tab-content">
    	<div id="home" class="tab-pane fade in active">
    		<div class="panel panel-default">
    			<h3 class="panel-body">Statistics coming from Course 1</h3>
    		</div>
    	</div>
	</div>
</div>

</body>
</html>