<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/navbar">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Form !</title>
</head>
<body>
<div layout:fragment="page-content">
	<div class="content">
	<div class="container container-create">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab">Add Question</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active">
					<div class="panel panel-default questions-types" align="center">
						<h4>Type of questions :</h4>
						<button class="btn btn-success btn-type" name="text"
							onclick="addQuestion($(this).attr('name'))">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>Text
						</button>
						<button class="btn btn-success btn-type" name="checkbox"
							onclick="addQuestion($(this).attr('name'))">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>Checkbox
						</button>
						<button class="btn btn-success btn-type" name="yn"
							onclick="addQuestion($(this).attr('name'))">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>Yes/No
						</button>
						<button class="btn btn-success btn-type" name="radio"
							onclick="addQuestion($(this).attr('name'))">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>Radio
						</button>
						<button class="btn btn-success btn-type" name="slider"
							onclick="addQuestion($(this).attr('name'))">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>ROTI
						</button>
						<button class="btn btn-success btn-type" name="slider"
							onclick="checkIndex(0)">
							<span class="glyphicon glyphicon-plus glyphicon-left"></span>check
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Create form tab -->
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<ul class="nav nav-tabs" role="tablist" id="form-tab">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" href="#form">
						Your Form
					</a>
				</li>
				<li role="presentation">
					<a role="tab" data-toggle="tab" href="#form-preview">Preview</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="form">
					<div class="panel panel-default" align="center"
						style="padding: 20px">
						<form method="post" action="">
							<div class="well form-title">
								<div class="form-group row form-group-title">
									<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
										<label class="question-type">Form title :</label>
									</div>
									<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
										<textarea class="form-control" id="form-title"
											placeholder="Type the form title" rows="1"></textarea>
									</div>
								</div>
							</div>
							<hr />
							<p class="question-hint" id="add-question-hint">Add question to your form by choosing its type</p>
							<!-- Questions -->
							<div align="right">
								<button type="button" title="Create your form !"
									class="btn btn-primary" id="create-form">
									<span class="glyphicon glyphicon-send glyphicon-left"></span>Create
									Form
								</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Display the form's preview -->
				<div role="tabpanel" class="tab-pane fade in" id="form-preview">
					<div class="panel panel-default" style="padding: 20px">
						<h4 class="form-hint" id="form-title-preview">Form title</h4>
						<hr />
						<div class="well" id="form-preview-group">
							<p class="question-hint" id="add-question-hint">Add question to your form by choosing its type</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>