<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome Teacher !</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default navabar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
          <span class=" navbar-brand glyphicon glyphicon-pencil"></span>
      </a>
      <a class="navbar-brand" href="/">AVISEP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Switch to English</a></li>
        <li><a href="#">Switch to French</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Name <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li align="center"><a data-toggle="tab" href="#">Courses</a></li>
            <li align="center"><a data-toggle="tab" href="#">Modules</a></li>
            <li role="separator" class="divider"></li>
            <li align="center"><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Tabs for each things that will be available for a student she/he's connected -->		
<div class="container">
  <ul class="nav nav-tabs" style="border-color:">
    <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
    <li><a data-toggle="tab" href="#menu1">Modules</a></li>
    <li><a data-toggle="tab" href="#menu2">Statistics</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    	<div class="panel panel-default">
    		<h3 class="panel-body">Courses</h3>
        	<p class="panel-body">This Menu will display panels of the Courses on which you can create a Form</p>
        	<div class="row panel-body">
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Course 1</div>
    				<a href="createF" class="btn btn-primary" style="margin-bottom:20px">Create a Form</a>
  				</div>
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Course 2</div>
    				<a href="createF" class="btn btn-primary" style="margin-bottom:20px">Create a Form</a>
  				</div>
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Course 3</div>
    				<a href="createF" class="btn btn-primary" style="margin-bottom:20px">Create a Form</a>
  				</div>
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Course 4</div>
    				<a href="createF" class="btn btn-primary" style="margin-bottom:20px">Create a Form</a>
  				</div>
			</div>
    	</div>
    </div>
    <div id="menu1" class="tab-pane fade">
     	<div class="panel panel-default">
    		<h3 class="panel-body">Modules</h3>
        	<p class="panel-body">This Menu will display panels of the Modules on which you can create a Form</p>
        	<div class="row panel-body">
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Module 1</div>
    				<button data-toggle="modal" data-target="#create" class="btn btn-primary" style="margin-bottom:20px">Create a Form</button>
  				</div>
  				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    				<div class="thumbnail well" style="height:141px;width:150px" align="center">Module 2</div>
    				<button data-toggle="modal" data-target="#create" class="btn btn-primary" style="margin-bottom:20px">Create a Form</button>
  				</div>
			</div>
    	</div>
    </div>
    <div id="menu2" class="tab-pane fade">
     	<div class="panel panel-default">
    		<h3 class="panel-body">Statistics</h3>
        	<p class="panel-body">This Menu will display statistics for ROTIs</p>
    	</div>
    </div>
  </div>
</div>



</body>
</html>