@CHARSET "ISO-8859-1";

/* CSS FOR LOGIN */

/* Background */


.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 480px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: auto auto;
    padding: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

h2 {
	margin:10px 0 30px 0;
}

.content input {
    margin: 10px 0px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.content input[type=checkbox] {
    display: none;
}
.content label {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    top: 10px;
}
.content label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: white;
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
.content input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 20px;
}

.content button {
    width: 100%;
    padding: 10px;
    margin: 30px 0 20px 0;
    color: White;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.moodle {
	text-align:center;
	font-style:italic;
}

.line {
	width:20%
}

/* CSS FOR LOGIN */